@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.copy,
.flourish {
	font-family: theme("fontFamily.serif");
}

.headline,
.category {
	font-family: theme("fontFamily.sans");
}

.headline {
	font-weight: theme(fontWeight.semibold);
	line-height: 1;
}

.category {
	font-weight: theme("fontWeight.black");
	text-transform: uppercase;
	letter-spacing: 0.18rem;
	line-height: 1;
}

.copy {
	font-weight: theme(fontWeight.book);
}

.flourish {
	font-weight: theme(fontWeight.light);
	font-style: italic;
}

.nav-item {
	font-family: theme(fontFamily.serif);
	line-height: theme(lineHeight.6);
}
