.card {
	background-color: theme(colors.white);
	border: 1px solid theme(colors.gray.300);
	border-radius: theme(borderRadius.lg);
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.09);
}

.card-data {
	box-shadow: -3px 0 6px rgba(0, 0, 0, 0.09);
	padding: theme(spacing.8) theme(spacing.6);

	.card-title {
		font-size: theme(fontSize.24);
		font-weight: theme(fontWeight.medium);
		line-height: 1.3;
		@media screen(lg) {
			font-size: theme(fontSize.27);
		}
	}

	.card-description {
		font-weight: theme(fontWeight.regular);
		margin-top: theme(spacing.4);

		em {
			font-weight: theme(fontWeight.regular);
		}
	}
}
