.btn {
	font-style: italic;
	font-size: theme('fontSize.sm');
	border-radius: theme('borderRadius.lg');
	padding: theme('spacing.3');
	text-align: center;
}

.btn-primary {
	background-color: theme('colors.primary.DEFAULT');
	border: 1px solid theme('colors.primary.700');
	box-shadow: inset 0 0 0 0 #fff;
	color: theme('colors.white');
	svg {
		fill: theme('colors.white');
	}
}



