.btn {
	border-radius: theme(borderRadius.md);
	border-style: solid;
	border-width: 0.45px;
	font-size: 1rem;
	font-style: italic;
	font-weight: theme(fontWeight.medium);
	line-height: 1;
	padding: 0.6rem theme(spacing.4);
	text-align: center;
	transition: background-color, border-color 150ms ease-in-out,
		150ms ease-in-out;

	svg {
		fill: theme(colors.white);
		box-shadow: 0 1px 1px rgba(12, 49, 47, 0.12);
		display: inline-block;
		margin-right: 0.5625rem;
	}
}

.btn-primary {
	background-color: theme(colors.primary.500);
	background-image: radial-gradient(
		circle,
		rgba(46, 183, 176, 0.21) 84%,
		rgba(23, 93, 90, 0.21) 100%
	);
	border-color: theme(colors.primary.600);
	box-shadow: 0 1px 2px rgba(23, 93, 90, 0.54);
	color: theme(colors.white);
	text-shadow: 0 1px 0 rgba(12, 49, 47, 0.36);
}

.btn-primary:hover {
	background-color: theme(colors.primary.400);
	border-color: theme(colors.primary.800);
}
