/**
	*  Oscillator → Elements → Icon
	*  @desc An SVG pictograph.
	*  @see https://fontawesome.com
 */

.icon {
	transition: color 150ms ease-in-out;
}

.icon-gray {
	color: theme("colors.gray.400");

	&:hover {
		color: theme("colors.primaryMuted.400");
	}
}

.icon-mobile-trigger {
	color: theme(colors.gray.900);

	&:hover {
		color: theme("colors.primary.500");
	}

	svg {
		height: theme(height.9);
		width: theme(width.9);
	}
}

.nav-icon {
	color: theme("colors.gray.400");
	height: auto;
	margin: 0 9px;
	width: 1.15em;

	&:hover {
		color: theme("colors.primary.500");
	}
}
