h1,
h2,
h3,
h4,
h5,
h6,
dt {
	font-family: theme(fontFamily.sans);
}

body,
p,
li,
dd,
span,
em,
strong {
	font-family: theme(fontFamily.serif);
	font-weight: theme(fontWeight.regular);
}

/**
 *    Navigation items (and variations)
 * -------------------------------------------------- */

.nav-item {
	color: theme(colors.slate.700);
	font-family: theme(fontFamily.sans);
	font-size: theme(fontSize.sm);
	font-weight: theme(fontWeight.regular);
	letter-spacing: theme(letterSpacing.wide);
	line-height: theme(lineHeight.6);
}

#mobileMenu .nav-item {
	@apply -mx-3;
	color: theme("colors.gray.900");
	display: block;
	font-size: theme("fontSize.21");
	line-height: theme("lineHeight.7");
	padding-bottom: theme("spacing.2");
	padding-left: theme("spacing.3");
	padding-right: theme("spacing.3");
	padding-top: theme("spacing.2");

	&:hover {
		background: theme(colors.primary.400);
	}
}

#desktopMenu .nav-item {
	@apply transition-colors hover:text-primary-500;
}

/**
 *    Headline
 * -------------------------------------------------- */

.headline,
.h1 {
	@apply text-3xl font-semibold text-primary-900 lg:text-4xl;
}

.subheadline {
	@apply mt-6 font-serif text-xl font-book leading-10 text-primary-900;
}

/**
 *    Copyright/Legal text
 * -------------------------------------------------- */

.copyright {
	@apply text-center font-serif italic leading-5 text-gray-500;
	font-size: 0.9375rem;
}

/**
 *    Category header
 * -------------------------------------------------- */

.category-header {
	font-size: theme(fontSize.xs);
	font-weight: theme("fontWeight.black");
	letter-spacing: 0.18rem;
	line-height: 1;
	text-transform: uppercase;
}

.category-credit {
	font-size: theme(fontSize.lg);
	font-style: italic;
	font-weight: theme(fontWeight.light);
}
